<div class="d-flex flex-column h-100-vh align-items-center justify-content-center">
  <%= form_with model: @warehouse do |f| %>
    <h4 class="text-center">
      <%= @warehouse.id.nil? ? 'New warehouse' : "Edit #{ @warehouse.name }" %>
    </h4>

    <div class="form-group">
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, class: "form-control #{ 'is-invalid' unless @warehouse.errors['name'].blank? }" %>
      <div class="error text-danger">
        <%= @warehouse.errors['name'].join(',') %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :code, class: 'form-label' %>
      <%= f.text_field :code, class: "form-control #{ 'is-invalid' unless @warehouse.errors['code'].blank? }" %>
      <div class="error text-danger">
        <%= @warehouse.errors['code'].join(',') %>
      </div>
    </div>

    <div class="form-group d-grid gap-2">
      <%= f.submit 'Save', class: 'btn btn-primary'%>
      <%= link_to 'Cancel', warehouses_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>